[2016-04-08 16:35] funkyeah opened #1 "status"
Hey @ejfrancis and @archonic ... just a quick update. This package now pulls in the Prosemirror NPM package and the demo works. It's just instantiating the editor on the client side with no server code or collaboration yet.

We are kind of at the state where the overall architecture needs to be hammered out. Honestly I am just a HW engineer with no professional software development experience so I

[2016-04-08 21:25] ejfrancis commented on #1
I'll put together some thoughts on what I imagine the approach might look like. Luckily the ProseMirror author wrote up a [great guide](https://prosemirror.net/guide/collab.html) for collaborative implementations, and there's already a client-side [collab module](https://prosemirror.net/ref.html#collab) that handles a good amount of the stuff required already. It sounds like a publication for stor

[2016-04-08 22:35] ejfrancis commented on #1
Some initial thoughts after reading through the guide + collab module again
- Authority lives on the Meteor server, and must keep track of the state of the current document and apply changes from clients.
- For 100% data consistency we could write every single operation on a doc to a collection and use a publication watching that collection to stream operations to clients. This would be a scaling

[2016-04-10 06:53] archonic commented on #1
Great, I'll check it out. Agreed on needing a plan. Getting started is the hardest part, as they say.

Sync is a very complex problem to solve, especially when taking offline changes into account. From the description in the docs, it looks like prosemirror arbitrarily picks one client to assert truth. As far as I know, I'm ok with that.

Scheduled snapshots before writing to the db will certainly

[2016-04-11 23:03] funkyeah commented on #1
I'm vacationing this week so I'll digest what you wrote and responId
sometime after this weekend. I did see you ran into an error though so
wanted to quick respond on that. The internet is really crappy here so
somewhat recalling from memory, but you need to export the path to this
package into PACKAGE_DIRS env variable. I believe this tut covers the exact
details but its not loading for me at the

[2016-04-12 21:13] ejfrancis commented on #1
here's a diagram to show what I described above. pub/sub for streaming operations on a doc, and a method for submitting ops to the authority

![image](https://cloud.githubusercontent.com/assets/3171352/14475745/62088952-00b8-11e6-8054-fe0000ec3d27.png)

---

and the uml text:

[code]

[2016-04-14 01:55] ejfrancis commented on #1
RocketChat has a good package for streaming data without pub/sub, might be worth looking into for streaming operations on documents instead of pub/sub. Two benefits are that 1) it doesn't use MergeBox since it's not a publication so less server overhead, and 2) it doesn't keep data in a local Collection, since the ProseMirror "collab" module already stores document state it would just double our m

[2016-04-17 07:13] funkyeah commented on #1
Just got back so I'm only part way through catching up.

Very nice diagram. Helps me start to picture all the pieces.

I do think avoiding mergeBox is probably a good idea. Best to lean towards no duplication of data that prosemirror stores and wrap as little of its functionality as possible.

What do you think the model/schema of a snapshot should be?
- @archonic thinking specifically about what

[2016-04-17 15:32] funkyeah opened #2 "collab module connection lost edge case"
Saw this [question](https://discuss.prosemirror.net/t/how-to-handle-edge-case-with-collab-module/288) on the forum and thought its resolution should be tracked.

[2016-05-01 20:07] ejfrancis commented on #2
looks like it was closed, see [Issue #307](https://github.com/prosemirror/prosemirror/issues/307)

the collab guide has been updated to reflect the change, now the authority takes a clientID for each mutation as well (see `Authority.prototype.receiveSteps`)

[2016-05-01 20:09] #2 closed, assigned to nobody

[2016-05-02 00:21] ejfrancis commented on #1
@funkyeah An easy to do make a new snapshot would be to just store it as a ProseMirror Node type (how PM represents state internally), which has a `toJSON()` method so we could store it in Mongo.

I would do it with something like this on the server

[code]

As for how to recover the history of a document that was restored from a snapshot, I'm really not sure. Typically the consensus for undo/redo

[2016-05-02 02:28] ejfrancis commented on #1
@funkyeah here's a more practical example of what a really simple authority for a single doc might look like using the RocketChat Streamer package for communicating events, with a `storeSnapshot()` method to dump a snapshot to Mongo

https://jsfiddle.net/9shnojv9/

 I just put this together without running it or anything but you should get the idea. In this version, the authority maintains its own

[2016-05-03 02:18] ejfrancis commented on #1
Expanding on that jsfiddle above, here's another one I put together. I'd love to hear feedback or thoughts from you guys!

https://jsfiddle.net/9shnojv9/2/

Again I just wrote it off the top of my head without running it, so no promises on it working 😆 should get the idea across though. This time I've added another class, so we have:
- ProseMeteorAuthority - a central authority that maintains the

[2016-05-03 06:55] funkyeah commented on #1
Hey @ejfrancis, lots of good stuff here. Stepping through your comments:

When saving a new snapshot:

Why build the snapshot you want to insert from the previous snapshot `getLastSnapshotJSON()` + steps applied `snapshotPm.apply(authority.getStepsSinceLastSnapshot());` rather than just directly saving the current state?

I agree about losing the ability to undo/redo on a revision restore. I don't

[2016-05-03 16:23] ejfrancis commented on #1
that's what I did in my latest fiddle :)

Yeah I think you're along the right lines there, if we wanted full history always stored we'd have to save the history along with each snapshot. Might not be too hard.

I think we should decide on the main features/options early on since they'll influence how we design it. Of course we should try to remain agile and be accepting of new requirements/feature

[2016-05-04 00:39] ejfrancis commented on #1
On the topic of the ProseMeteorAuthority being totally stateful, here's a diagram of how I imagine I would solve that problem. This is pretty much exactly what the `meteorhacks:cluster` package does. Anytime a server creates a ProseMeteorAuthority to track a document, the would register itself in the db to say "hey, this is my URL and I own the authority to this doc ". Then when a user wants to ed

[2016-05-04 07:16] funkyeah commented on #1
This is making pretty good sense to me. Some points that come to mind:
1. If I understand you correctly this is mostly about figured out how to scale. Scaling this way seems like it would work from a technical perspective. How does it get decided which server creates a new Authority when there isn't an active one (or how do we load-balance)?
2. How many concurrent document authorities would one se

[2016-05-04 16:33] ejfrancis commented on #1
Yeah this is about scaling when you have more than one app server. As for how to decide which server gets to create a new authority for a doc, there's a few different options. Some I can think of that wouldn't be too hard would be
- just create it on the app server the user is currently on. if your user traffic is distributed evenly already, this may be okay
- a basic round robin algorithm to dist

[2016-05-04 17:58] ejfrancis commented on #1
Just looked at fast render. It only works with publication data, but they're using the [meteorhacks:inject-data package](https://github.com/meteorhacks/inject-data) to inject data into the page on the server, and retrieve it on the client. We could probably use that to manually inject any ProseMeteor data into the page on initial pageload, and on the client check for that data and if it's there us

[2016-05-05 21:07] funkyeah opened #3 "Feature list / prioritization / milestones"
Writing down a list of possible features. Feel free to edit this post directly. We can prioritize and breakdown as needed.
## Proof of Concept
- [x] ability to collaboratively edit a single doc with multiple users (see #4)
  - [x] integrate rocketchat streamer
  - [x]  single Authority, single server
  - [x] AuthorityManager, create/manage multiple Authorities on single server
  - [x] client has A

[2016-05-06 03:42] funkyeah commented on #1
started working on a list of things [todo](https://github.com/prosemeteor/prosemirror/issues/3)... we can discuss and adjust priority... obviously the most important thing is to just get something collaborative working at first  - I'm gonna try and take a stab at that by integrating your code and trying to fill in any of the obvious gaps... I still program at a snails pace so no guarantees on any

[2016-05-06 06:26] funkyeah commented on #1
@ejfrancis as part of slapping some code around I'm trying to keep somewhat organized but not sure on the directory structure and/or if we should be strict about using Meteor 1.3 importing:
We could follow the [guide](http://guide.meteor.com/structure.html#example-app-structure), but that gets to be a pretty hefty structure for a package and a package that is just starting out at that.

What do yo

[2016-05-06 06:26] funkyeah commented on #1
Also should there be a common linter and linter config for the project? I use Sublime-Text so I read this article on [setting up ES6 linting](http://info.meteor.com/blog/set-up-sublime-text-for-meteor-es6-es2015-and-jsx-syntax-and-linting) recently.

[2016-05-06 23:19] ejfrancis commented on #1
I use webpack in my projects so I don't know much about the Meteor 1.3 importing structure, but I'd say we should just stick to the guide's instructions as much as possible. Uniformity is the key to clean maintainable code 👍

Most definitely, a strict ESLint config is a must. I have a config that I use for all my projects that extends the [eslint config standard](https://github.com/feross/eslint-c

[2016-05-06 23:21] ejfrancis commented on #1
woops didn't mean to close the issue

[2016-05-09 21:39] ejfrancis commented on #3
Looks good! I just split them up into sections. I'm sure there's more we could add to Extra Features down the road, but Core Features are all things we probably need for a real release. I'm comfortable working on the horizontal scaling (service discovery) so I can take that on if that's alright.

@archonic you still up for helping with some of this work? We're almost at the point where we can star

[2016-05-09 22:04] ejfrancis commented on #3
Btw we should probably agree on how the API looks from a user standpoint. This is what I'm imagining right now, let me know any feedback or what you've got in your heads

---

Say I have a view like this

[code]

I'd really love to be able to just do

[code]

Ideally that's it (or something really similar to it), you don't need any server-specific app code. Since this is an isomorphic package the

[2016-05-10 08:00] funkyeah commented on #3
I do like keeping it simple. I was thinking that on the client we would just be creating our own Prosemirror module. The user would create/open a prosemirror instance like normal but with prosemeteor option that we add set to enabled and/or whatever options it would need:

[code]

In someways that might be thinner and more flexible. On the other hand if we don't wrap it we would need to be more ex

[2016-05-10 14:15] ejfrancis commented on #3
Yeah I think you're right, keeping ProseMirror outside the package and just attaching ProseMeteor to it is probably better so that we're not locked into a single ProseMirror version.

[2016-05-10 16:38] funkyeah commented on #3
Early on while ProseMirror is still under rapid change I think it might be OK to be locked into a single ProseMirror version, but long-term it seems that declaring it a peer-dependency is probably the way to go.

What do you think about client and server API/config options?

[2016-05-11 01:46] ejfrancis commented on #3
well looking over the feature list it looks like at least these
- read-only mode
- snapshot enabled/disabled
- snapshot interval if enabled
- perhaps an option to disable collab altogether? So the user could still use the same ProseMeteor api to retrieve previous saves, load a doc onto a page, and save snapshots, it just wouldn't hook up the collab module and would save snapshots right from the us

[2016-05-18 01:59] ejfrancis commented on #1
hey @funkyeah, I'm cloning it down for the first time and seeing the missing package error, I'm assuming because PACKAGE_DIRS needs to be set. What's the steps to get it going first time?

[2016-05-18 02:05] funkyeah commented on #1
Check out the first link here:
https://humon.com/Prosemeteor/RJsnS9dyAH8k6cuma/Home/STisHoM8MxcqgTxGw

Some notes I kept on doing that.

Things are still not in much of a working state but hoping to make some progress tonight. Mostly playing with streamer and initialization

[2016-05-18 02:51] ejfrancis commented on #1
got it, thanks. I'm gunna see if I can get a basic PoC with a single authority working this week. Watch for pull requests from my end

[2016-05-18 02:58] ejfrancis opened #4 "Proof of Concept"
Create a PoC that only has a single authority on a single server and implements basic collaborative functionality.

See the [feature list](https://github.com/prosemeteor/prosemirror/issues/3) for more details.

EDIT: updated to remove single authority requirement, since I went ahead and implemented multiple via AuthorityManager

[2016-05-18 03:17] ejfrancis commented on #1
@funkyeah I've put together some basic collab guidelines, I use GitHub every day at my work so this is the process I'm used to following. Let me know if you have any comments or changes, if it's all good we should get it into a contributing guide right in the repo as `CONTRIBUTING.md` https://humon.com/Prosemeteor/RJsnS9dyAH8k6cuma/Contributing/sqaTwYocYRn4f9tAK

[2016-05-18 03:41] funkyeah commented on #1
Looks good to me pretty good to me. One question though, do you start with this right out of the gate? Feels a bit heavy when the architecture is still taking shape and code is flying everywhere... but maybe that's just because I'm not used to the process.

Are you working on anything tonight? I was just about to start banging away but a little confused how we should collaborate when the main next

[2016-05-18 03:55] ejfrancis commented on #1
I always follow it right from the start, it keeps things nice and tidy and easy to track. Once you get used to it it becomes second nature :smile: But it can be a bit tedious early on if things are in flux a lot and you're not used to it, so no pressure right now. Once we've got a solid foundation to work from and the work is more clear it'll be easier. And yeah I'm doing some work right now on th

[2016-05-18 15:11] funkyeah commented on #3
for your third bullet above:

I wrote some thoughts [in the code](https://github.com/prosemeteor/prosemirror/blob/master/demo/client/main.js#L38) on how this could look

As I was suggesting earlier maybe prosemeteor is partially a plugin for prosemirror. When an integrator initializes an instance they do so by including our plugin in the options list. That option can be passed  either A) an id of

[2016-05-19 05:01] ejfrancis commented on #2
note that as of right now, that change is in prosemirror's master branch but isn't published to npm yet. on my branch I've just pulled down the latest prosemirror master, built it, and checked it in for now

[2016-05-19 16:39] ejfrancis commented on #3
That would be nice. I don't know much about how ProseMirror plugins work, I'll have to read up on them. [Here's the wiki on plugins](https://github.com/ProseMirror/prosemirror/wiki/Plugins) for reference

[2016-05-19 16:40] ejfrancis commented on #4
I'm working on this atm, hoping to have a basic collaborative demo working soon

[2016-05-19 16:46] ejfrancis opened #6 "License and Contribution Guide"
Before we get too far we should get a license file (LICENSE.txt) and contributing guide (CONTRIBUTING.md) into the repo. I've put together a draft for a [contributing guide](https://humon.com/Prosemeteor/RJsnS9dyAH8k6cuma/Contributing/sqaTwYocYRn4f9tAK), let's discuss that and the proper license to choose.

@funkyeah

[2016-05-19 16:57] ejfrancis commented on #6
I don't know much about OS licenses tbh. A few helpful links I've found

https://opensource.org/licenses
http://choosealicense.com/
https://www.smashingmagazine.com/2010/03/a-short-guide-to-open-source-and-similar-licenses/

[2016-05-19 17:20] funkyeah commented on #6
Prosemirror and Meteor are both MIT licensed which allows us to license
Prosemeteor pretty much however we want. I think the two best options are
probably MIT and/or GPL3.

GPL is best if you share the FSF's philosophical stance about free
software. MIT is among the best best if there will never be any intention
to directly commercialize the project and want as many people as possible
to use it. I

[2016-05-19 17:30] funkyeah commented on #3
As far as I understood... and I think the wiki confirms this... there isn't
a whole lot to being a prose-mirror plugin since its all ES2015.
Registering/defining the prosemirror option is really the only plugin
specific, and that just provides a clean way of having prosemirror
instantiate the prosemeteor code rather than having the user create a
prosemirror instance and then somehow pass that pros

[2016-05-19 22:11] ejfrancis commented on #6
I'm not worried about commercialization personally, but I may be biased because I plan on using this in a closed-source app. I like the idea of MIT, letting anyone do pretty much whatever they want with it. What do you think?

[2016-05-21 02:41] ejfrancis commented on #4
@funkyeah PoC is working! I'll clean it up a bit and get it up soon, but in the meantime if you'd like to try it out you can
- pull down the `feature/collab-proof-of-concept-single-authority` branch on my fork
- run the demo with `./run_demo`
- open up two browser windows to `localhost:3000`
- modify the text in either browser

[2016-05-21 18:37] funkyeah commented on #4
Haven't had a chance to run it yet but I did look through the code on github. Everything looks pretty good to my eyes. I'm a little confused by the two collab-editor.js files ([/api/collab-editor/client/collab-editor.js](https://github.com/ejfrancis/prosemirror/blob/feature/collab-proof-of-concept-single-authority/lib/imports/api/collab-editor/client/collab-editor.js)) and ([/api/editor/client/col

[2016-05-21 18:43] ejfrancis commented on #4
woops yeah `'./../imports/api/collab-editor/client/collab-editor';` is the real one, didn't realize I left the old one when I moved it around.

I think I'd want to avoid publishing the snapshot collection if possible since it would add a reactive cursor that probably isn't totally needed (in terms of server stress), I imagine just a method to get the list of snapshots or a specific snapshot would

[2016-05-22 21:48] ejfrancis commented on #3
Just thinking out loud about how to make this a plugin. Right now on the server's authority we have to be able to import the `Step` class and `defaultSchema` from ProseMirrorin order to be able to create a doc and apply steps to it on the server.

That's possible right now because we're just importing it right from ProseMirror. But if we make it a plugin, I think we'd have to have the user pass in

[2016-05-22 21:51] funkyeah commented on #4
You are probably right about not needing to publish a collection. The data that Prosemeteor needs can be transmitted over the streamer connection and if some end user wants the reactive collection they can explicitly do the publish. There will have to be a way to get at whatever data we add but that can mostly be done with methods/calls.

[2016-05-22 22:05] funkyeah commented on #3
I think it's perfectly legitimate to declare Prosemirror a peer dependency and make the end user do an `npm install` or `meteor npm install` of the prosemirror npm package before they can use Prosemeteor. This is what Meteor reccomends when installing [React](http://guide.meteor.com/writing-atmosphere-packages.html#peer-npm-dependencies).  Then Prosemeteor can just import the necessary prosemirror

[2016-05-22 22:09] ejfrancis commented on #3
I didn't even think of just having a peer dependency and still importing it, good call! then I guess it shouldn't be much of an issue at all

[2016-05-22 22:22] ejfrancis commented on #4
Yeah and we can just expose the Collection, so that if the user does want to make a publication for some reason they're able to do that themselves.

[2016-05-23 01:04] ejfrancis commented on #6
@funkyeah for the MIT license, it requires the holder's name/holding company. should we just put our names as the holders?

[2016-05-23 01:13] funkyeah commented on #6
Sure that works for me
On May 22, 2016 8:04 PM, "Evan Francis" notifications@github.com wrote:

[2016-05-23 01:19] ejfrancis opened #8 "Service Discovery for multiple app servers"
For any document, there can only ever exist one Authority to track its state in memory. If an application is deployed with multiple app servers and another server already has an Authority for a doc, we need a way to find the IP of the server hosting that doc's Authority so that a client can connect to that particular server and receive traffic from it.

Requirements:
- [x] when a server starts up,

[2016-05-23 02:35] ejfrancis commented on #8
package for getting ip address https://www.npmjs.com/package/ip

[2016-05-23 04:29] ejfrancis commented on #8
I've just put up a PR to the RocketChat `meteor-streamer` package to allow setting up a DDP connection to an alternate server, see [the pull request](https://github.com/RocketChat/meteor-streamer/pull/5)

[2016-05-23 17:58] funkyeah commented on #8
Looks like it's already been accepted. Nice!

[2016-05-23 18:09] #4 closed, assigned to ejfrancis

[2016-05-23 18:36] ejfrancis commented on #8
yeah that was quick 😄

[2016-05-24 01:09] funkyeah opened #9 "Permissioning System"
Integrators need a way to control CRUD operations of prosemeteor docs and potentially any other data we might generate about or auxillary to the docs. We could add integration with something like alanning's [meteor-roles](https://github.com/alanning/meteor-roles) which you mentioned in an earlier comment. I'm wondering if this might be higher level than we need to go. Can or should we make it the

[2016-05-24 02:24] ejfrancis commented on #9
Authorizing on each step submitted by a client would definitely bring the server to a crawl if it were hitting the db each time, I think you're on the right track with only authenticating when a user connects to a doc.

Typically you don't want to cache auth data if possible, because if I remove a user from being able to edit a doc I want that change to reflect immediately. Maybe we could cache it

[2016-05-24 02:45] ejfrancis opened #11 "Integrate as ProseMirror plugin"
Ideally hooking up the ProseMeteor data system with a ProseMirror instance would be through a ProseMirror plugin. As of writing this, we expose a class that wraps a ProseMirror instance.

NOTE: there is a new ProseMirror release that changes the plugin API. this issue should include updating to the newer ProseMirror version as well

[2016-05-24 07:37] funkyeah commented on #9
I don't see how we get around what is effectively cacheing if we are not checking permissions whenever the client sends steps. If you authenticate permissions only on openDoc then you've effectively cached the clients permission to do whatever with that doc and those permissions wouldn't be able to be changed... unless we either A) provide a mechanism to disconnect a specified client/user from an

[2016-05-25 22:56] ejfrancis commented on #9
That sounds best to me.

If we went the route of just allowing the developer to provide their own auth method given a docId and userId (i.e. `ProseMeteor.authenticateMethod = ({ docId, userId }) => {}`), we could check permissions for each client when they connect and keep them in memory in the Authority. Then check against those permissions in memory on each step that's submitted. I think we'd ha

[2016-05-26 08:10] funkyeah commented on #9
While we need to authorize things like `latestDocState` and `clientSubmitSteps` I think we are in agreement that that is not what we want to ask the integrator. You have the 'edit' role implied above.

Do we have "roles" per se like:
- reader
- editor
- admin

Or should the integrator be asked to return:
- canCreate: true/false
- canRead: true/false
- canEdit: true/false
- canDelete: true/false

O

[2016-05-31 16:49] funkyeah commented on #9
I played around with this a bit over the weekend. As mentioned above I was thinking that the permissions for each doc would get cached in each Authority. The methods we want to authenticate are setup in the [authority-manager ](https://github.com/prosemeteor/prosemirror/blob/master/lib/imports/api/authority/server/authority-manager.js#L31).

I'm thinking there we pass the userId into the authority

[2016-05-31 21:47] funkyeah commented on #1
you had the comment [here](https://github.com/prosemeteor/prosemirror/blob/master/lib/imports/api/authority/server/authority-manager.js#L29) about defining a ValidatedMethod(s) within server side code that can still be called by the client.

There are a couple elements here. First, my understanding is that if you define a `name` property within the ValidatedMethod:

[code]

Then you can still call

[2016-06-01 16:50] ejfrancis commented on #9
Yes that all looks right to me, and we'd have to do about the same thing for the other methods as well. And you'd want to throw a `Meteor.Error` so the client could be aware of something going wrong if not authenticated

Yep

My biggest worry with authentication is that we don't cover a specific use case, since most applications have different needs. One idea I had is that we could provide an adap

[2016-06-01 16:53] ejfrancis commented on #1
Okay yeah I think you're right, we'd still get to define it as a ValidatedMethod we just wouldn't be able to call it with `method.call(args)` but instead would need to use the `Meteor.call(string)` approach. It isn't quite as pretty as the first method but that's alright as long as we still get the benefits of the ValidatedMethod.

[2016-06-01 16:56] ejfrancis commented on #3
Here's another feature I've been thinking about: If I know that I'll have say 5-10 ProseMirror instances on the same page, it'd probably be better to make sure they all end up with Authorities on the same server since web browsers have a limit to the number of concurrent connections and latency may be different between them. Perhaps we could have the option of associating a doc with a "docGroupId"

[2016-06-02 16:16] ejfrancis commented on #9
Yup I'd like to keep all data related to a single Authority inside that Authority if possible. It'll make managing and avoiding memory leaks easier since when an Authority is done you can just delete it.

That's a tough question. I really like the idea of an API like `ProseMeteor.allowUserToEditDoc({ docId, userId })` because it's just easy to manage. So let's think about a couple use cases

1.

[2016-06-02 16:30] ejfrancis commented on #9
accidentally clicked close button when trying to cancel a comment, ignore that

[2016-06-03 23:53] ejfrancis commented on #11
I've got most of the work for this done in a branch of my fork, just dealing with some issues while we have prosemirror kept internally instead of a peer dependency

[2016-06-04 00:04] ejfrancis opened #12 "Schedule automated backup of docs"
We need a way to define an interval (as an option that a user can change) in which documents are backed up so that work isn't lost, and so that later on users can revert to previous snapshots.

[2016-06-04 00:37] funkyeah commented on #12
By user do you mean integrator of the package? I think it would be pretty tough to do it on a per user basis.

Looking at Google Docs they do some interesting things. It appears they "save" on almost every edit. But edits that are in close proximity to each other timewise are compacted into a single revision.

[2016-06-04 03:16] ejfrancis commented on #12
Yeah the integrator. We could definitely add an option to store on every keystroke, but it'd be good to enable less frequent writes to lessen db load as well if you're running on a budget.

[2016-06-07 04:32] #6 closed, assigned to ejfrancis

[2016-06-08 01:33] ejfrancis opened #14 "Ability to restore previous snapshots"
Since we're now dumping snapshots to db, we need a way to be able to restore a document from a previous snapshot.

For the experience I think we should follow along the lines of what Google Docs does. userA and userB are editing a doc at version 100, userA can view the snapshot history through some UI and preview them on their local ProseMirror instance, then userA can choose to "restore snapshot"

[2016-06-08 01:43] ejfrancis opened #15 "Read only mode"
(could wait for #11 to be done since this should be an option of the plugin, or just do it for now and integrate as a plugin option later)

The ProseMeteor plugin for ProseMirror should support a "readOnly" option that loads the document data, but doesn't creating an Authority or hook up collaborative data.

Permissions for the "view" action will need to be implemented similar to how the "edit" ac

[2016-06-08 01:48] ejfrancis commented on #15
@funkyeah I'm assigning this one to @ellery44 , he's my roommate and also a software engineer. He wanted to join the project so I'm starting him out with this simple issue :smile:

[2016-06-08 16:19] funkyeah commented on #1
@ejfrancis, what do you think about broadcasting this on the prosemirror forums and looking for contirbutors there too?

I know I haven't been as helpful as I'd like, half just because I'm too slow on development to keep up with how fast the codebase is changing. So maybe I should try to get someone else.

[2016-06-08 16:37] ejfrancis commented on #1
More contributors are always welcome! Feel free to advertise a bit. Idk if you saw but I just pulled my roommate onto the project so he should be able to help contribute as well. No worries on not pitching code yet, the discussions and code reviews are still really helpful. As the codebase matures a bit I think it'll be a bit easier to work on code since it'll be more clear where things should be

[2016-06-08 16:38] ejfrancis opened #16 "Code linting"
Integrate an eslint configuration, and pre-commit hooks to prevent committing code if it fails linting.

[2016-06-08 17:11] ejfrancis commented on #16
This is the config that I usually use, which extends the [standard config](https://github.com/feross/eslint-config-standard). It's annoyingly strict at first, but leads to really uniform code and helps avoid some mistakes once you get used to it.

[code]

[2016-06-08 18:10] #12 closed, assigned to ejfrancis

[2016-06-08 18:10] ejfrancis commented on #11
PM author said that in a future release the API to make plugins will be changing, hopefully within a month or so. If it's not absolutely required to be a plugin right now, we could just wait for that change.

[2016-06-10 01:43] #16 closed, assigned to ejfrancis

[2016-06-10 02:02] ejfrancis opened #18 "Remove Authority when no more users are editing"
When no more clients are editing a doc:
- have the Authority store a snapshot
- then have its AuthorityManager delete that Authority entirely from memory
-  Then remove that docId from the authority in the registry db collection "My IP is XX.XX, I'm no longer hosting doc XX".
- Then similarly, if that doc had a groupId and it was the last of its group, remove that groupId from the authority in the

[2016-06-11 21:46] ejfrancis commented on #8
I've started work for this, it's on my [feature/authority-registry branch](https://github.com/ejfrancis/prosemirror/tree/feature/authority-registry/lib/imports/api/authority-registry) if anyone would like to follow along. It's going to take awhile to complete

[2016-06-14 06:58] funkyeah commented on #15
What's happening @ellery44 ! I'm gonna add some previous notes and bring-up a topic or two for discussion.

@ejfrancis  wanted to get your opinion specifically on the permissioning side of things... the approach we discussed is that permissions live in an authority, so to do read-only we almost by definition need to create an authority. Now that "read-only" permission would more naturally lead to

[2016-06-14 21:49] archonic commented on #3
@ejfrancis I'm still alive, just been very busy getting married 😄. Very willing to help out and I anticipate being more available in July.

[2016-06-14 22:55] ejfrancis commented on #3
@archonic congrats! No worries, but any help you wanna pitch in is definitely appreciated. I'm sure we can write up some more issues and assign them to you. Try out the demo when you've got a chance, it's pretty cool 👍

[2016-06-16 17:54] funkyeah commented on #11
This is now true with the release of [0.8.0](https://discuss.prosemirror.net/t/release-0-8-0/336) but it also changes/breaks a lot of other things. Maybe wait for 0.8.1+ to switchover.

[2016-06-16 18:25] ejfrancis commented on #11
Okay I can take care of the upgrade, i'll update this issue to reflect that it also includes that

[2016-06-17 21:26] ejfrancis commented on #8
Alright so my plan was to have an Authority just unregister itself from the registry when it shuts down, but it turns out Meteor doesn't offer any pre-shutdown hook. So instead my plan is to do something like this
1. When an app server starts up, it register itself as available to host Authorities
2. A client requests to open a document that nobody else is currently editing
3. AuthorityManager on

[2016-06-20 04:44] funkyeah commented on #16
@ejfrancis what text editor/IDE do you use? also do you have the linter to run after every save or what are the settings for how you run it?

[2016-06-20 17:14] ejfrancis commented on #16
I'm using Atom at the moment, although I switch between that and WebStorm. I added the `eslint-watch` package so that when you run the demo it'll run linting once when you start it, and then every time you make an edit to a file it will re-run on that single file. I've been using the demo as a playground to test out changes so that's been working out alright.  Apart from that, I added a pre-commit

[2016-07-17 21:56] ejfrancis opened #20 "Group documents via "groupId" to force multiple docs to be hosted on the same authority server"
When multiple documents are on a page, it may be advantageous to have all documents hosted on the same authority server. We need the capability to mark a document with a "groupId" which forces all docs with that "groupId" to be hosted on the same server's authority.

[2016-07-17 21:56] ejfrancis commented on #20
I've begun part of this during the implementation of #8

[2016-07-17 22:43] ejfrancis commented on #8
Server side implementation is mostly done in my feature branch `feature/authority-registry`, it's keeping track of all servers that are up, and running health checks on an interval to make sure to remove servers that have gone down for some reason. GroupIds are taken into account as well, so all docs marked with the same `groupId` will be hosted on the same server. There is a Meteor method `ProseM

[2016-08-08 01:25] ejfrancis commented on #8
Alright this is _mostly_ done, it's all up in my feature branch. Pretty big change across the codebase, both client and server. The [groupIds implementation](https://github.com/prosemeteor/prosemirror/issues/20) is all included in this as well since it's part of the core service discovery logic. Expect a PR soon.

[2016-08-08 01:29] ejfrancis commented on #8
Right now docIds and groupIds are never marked as removed from the authority registry database. That will be part of [Issue 18's](https://github.com/prosemeteor/prosemirror/issues/18) implementation.

[2016-08-08 16:10] ejfrancis opened #22 "Implement a logger module"
Currently there are `console.log` statements scattered around for debugging. We should implement a real logger with `info()` `warn()` `error()` `debug()` methods, and change the codebase to use that instead. It would be nice if the `logger.debug()` method allowed something like an optional namespace, so we could show/hide debug logs per feature

[2016-08-08 16:16] ejfrancis opened #23 "Migrate existing sessions in memory when a server is shut down for deployments"
If a server just shuts off without warning, it would be hard to migrate the existing data in memory to another server, but if it's given a `SIGINT`/`SIGTERM`/`SIGKILL` due to a rolling deployment, we could capture that, migrate authority sessions to another server gracefully, and instruct the corresponding clients to connect to their new server.

[2016-08-08 16:32] ejfrancis commented on #3
I've just added `migrate existing sessions of a server before it's shut down for rolling deployments` to the list per @ellery44's suggestion. That one should be interesting to implement.

[2016-08-09 20:17] funkyeah commented on #9
I've been thinking about this again and it seems like it will be quite a bit harder with your recent pull-request. With clients potentially connecting to multiple different servers depending on the docs they want to access we need to figure out how to scale the user authentication as well.

Meteor has some provision for logging into a secondary server by providing the DDP URL but I don't think thi

[2016-08-09 20:38] ejfrancis commented on #9
Yeah it's kind of a mix of microservice and monolith architecture. Meteor deploys using the monolith approach where users are stuck to a single server that runs the entire application for them with a session of their data in server memory. We're assuming that to be true, but using an approach similar to the [meteorhacks:cluster](https://github.com/meteorhacks/cluster) approach where your whole app

[2016-08-09 20:38] eaddingtonwhite commented on #9
I would think authentication would be a basic wrapper around an independent DB and cache. Any server you are connecting can check if this request has a valid auth session for the action that is being made. If the request is making a change to the authentication then it must also flush cache and or update DB as well. Then every server running has this interface locally to DB and Cache so it doesn't

[2016-08-17 14:10] geierwally commented on #11
Do you already know (roughly) when the update to new ProseMirror release will be available or when 0.8.1 of ProseMirror is planned?

[2016-09-19 00:17] #8 closed, assigned to ejfrancis

[2016-09-19 21:04] ejfrancis commented on #18
Some notes on how to detect when a client has disconnected are below. I believe we'll want to know when the disconnect is done on the server side, but I'm including both server and client detection:

## Detect the closed connection on the server

Meteor allows us to register a callback on the server that's given the  [Connection](https://github.com/meteor/meteor/blob/master/packages/ddp-client/liv

[2016-09-23 20:23] #20 closed, assigned to ejfrancis

[2016-10-26 14:23] derdaumen opened #24 "How to use prosemeteor in my meteor app?"
I'd like to try prosemeteor in my app. I'm very much a meteor newbie and I've never worked with a local package before. So far I only worked with atmosphere packages.

I managed to download the code and add it as a local package to my app.
I copied the two imports from the demo:

[code]

but I get an an

[code]

I feel embarrassed to ask this question, but how can I make these imports work?
I'd ve

[2016-11-20 20:35] ejfrancis commented on #18
Another option, given by MDG staff, is to implement a `keepalive` method that clients call on an interval. This introduces a small overhead by adding more requests but would be easy to do http://stackoverflow.com/a/10274212

[2016-11-20 20:38] ejfrancis commented on #24
hey @derdaumen

You should be able to try it out by using similar imports as you'll see in the `/demo` directory, see the [client](https://github.com/prosemeteor/prosemirror/blob/master/demo/client/main.js) and [server](https://github.com/prosemeteor/prosemirror/blob/master/demo/server/main.js) examples

I should add that this is still a functioning proof-of-concept. If you want to play with it in

[2016-11-26 22:36] ejfrancis opened #25 "Run health check against existing authority on server before returning to client"
When an existing Authority is found to be hosting a doc, we must make sure it's still healthy before providing the client with that URL to connect to. See [this line in AuthorityManager](https://github.com/prosemeteor/prosemirror/blob/master/lib/imports/api/authority/server/authority-manager.js#L110), that Authority URL should be checked. I believe it should be as simple as running `runSingleHealt

[2016-11-26 23:16] ejfrancis commented on #22
@funkyeah you still up to contribute to this? I've just picked up development again after a long off time. I think this issue in particular would be a simple one that anyone could implement but would be a big help, I've got tons of helpful debug logs in there that I'd like to be able to toggle on and off per feature somehow.

[2016-12-17 21:22] archonic commented on #14
Hi @ejfrancis, back from the dead. I've had a chance to look over the demo and it's looking great. It's really neat how everything plugs in. From the look of the Authority constructor, it looks like this issue done?

Thanks for all the hard work to date! Let me know if there's something modular I can take care of. Meteor / NPM isn't my forte but it looks readable enough.

[2016-12-18 01:15] ejfrancis commented on #14
Hey @archonic, glad you like the project so far. It's still got a ways to go but it's been proven to be possible and pretty simple to reason about.

Far from it! Currently a document's shapshot is stored to DB on an interval, but this issue is about being able to restore those snapshots and work with them.

In [the authority constructor](https://github.com/prosemeteor/prosemirror/blob/master/lib/i

[2016-12-18 01:18] ejfrancis commented on #14
also @archonic if you'd like to contribute a rather simple issue that needs to be done at some point is to replace all `console.log()`s with a better logging system for `INFO` `WARN` `DEBUG` and `ERROR` status logs. It'd be nice to toggle logs on/off per feature as well since really verbose logging helps for debugging but can get cluttered at times. See #22

[2016-12-18 21:25] ejfrancis opened #27 "Update to latest Meteor and ProseMirror"
This project is falling behind Meteor and ProseMirror latest releases. Upgrading is sometimes a pain, especially with ProseMirror's API changing so frequently. This issue isn't urgent and should be assessed when it's necessary, but before a 1.0 release everything should be up to date.

[2016-12-18 21:27] #24 closed, assigned to nobody

[2016-12-19 02:12] ejfrancis commented on #9
Alright here's the plan:

## High Level
The package implementer can provide hooks that return `true`/`false` if a user is allowed to do certain things with a document. Authority instances will call these hooks once when a user connects, store that in memory, and run all authentication against that value. If a user has their permissions removed, for instance if in the application a user is moved to

[2016-12-19 19:09] ejfrancis commented on #3
I've added two milestones to the project and tagged them in individual issues, `Public Beta` and `1.0`

[2016-12-19 19:44] ejfrancis opened #28 "Only broadcast events to interested clients"
Right now Streamer DDP events are broadcasted to all users. This got a PoC functioning, now it needs to be changed so that events are only broadcast to the clients who care about those events. I think this will mean a change in how we listen to Streamer events.

## Namespacing Streamer Events
We'll want a uniform way to organize certain events into different namespaces/channels so that users can l

[2016-12-19 21:17] ejfrancis opened #29 "Integration/E2E tests with continuous integration"
ProseMeteor needs some tests!

I've been reluctant to write unit tests so far because the ProseMeteor API has been in flux, and unit tests are very tied to the API. Constantly rewriting unit tests this early on wouldn't be the best way to spend my time. This package also uses an old version of ProseMirror because its API keeps making backwards-breaking changes in the pre-1.0 stage.

I think writin

[2016-12-20 07:31] #18 closed, assigned to nobody

[2016-12-20 23:34] ejfrancis commented on #29
After doing some research I think I'm going to use Chimp, because it meets the following criteria:

* [able to run multiple clients against a server](https://chimp.readme.io/docs/multi-browser-testing)
* [first-class support for Meteor](https://chimp.readme.io/docs/getting-started-with-meteor-cucumber)

One thing missing though, that I haven't found in any framework yet, is the ability to also cre

[2016-12-21 19:18] ejfrancis commented on #29
I've asked the creator of Chimp about multi-server testing, discussion is [here on the Meteor forums](https://forums.meteor.com/t/chimp-integration-e2e-testing-with-multiple-servers/32503/3)

[2016-12-24 02:01] #28 closed, assigned to ejfrancis

[2016-12-29 01:48] ejfrancis opened #34 "Block some Meteor Methods from client access"
Some Meteor Methods (such as `ProseMeteor.invalidateDocAuthentication`) should never be accessible from the client. A uniform way to protected some Methods and make them only accessible on the server is needed.

See [this example](https://github.com/themeteorchef/server-only-methods) by The MeteorChef

[2016-12-29 02:02] ejfrancis commented on #9
Plan for `invalidateDocAuthentication({ docId })`

### Public API
* provide an API on the server  that package implementor can call
  * `proseMeteorServer.invalidateDocAuthentication({ docId })`
* the public method calls `AuthorityManager.invalidateDocAuthentication()`

### AuthorityManager
* create member method in `AuthorityManager` called `invalidateDocAuthentication({ docId })`
* create a Mete

[2016-12-29 16:09] ejfrancis opened #35 "Invalidate doc authentication"
Allow package implementor to invalidate a doc's authentication. Consider this scenario:

In my application that uses ProseMeteor an admin has removed userA from being able to edit docA, ProseMeteor must allow a way to make the Authority that's currently managing docA (if it's currently being edited) call the authentication hooks again so that it can update its permissions in memory and realize tha

[2016-12-29 16:10] ejfrancis commented on #9
I've moved the invalidation to another issue #35

[2016-12-29 16:11] #9 closed, assigned to nobody

[2016-12-30 04:19] ejfrancis commented on #15
Alright it's almost time for read-only mode. After having implemented permissions for editing I'm confident we can authenticate a user without having to create an Authority. I believe it will look like this:

NOTE: a newer [release of ProseMirror](http://prosemirror.net/version/2016.12.23.html#view.EditorProps.editable) supports an `editable` option to enable read-only mode. We'll need to upgrade

[2017-01-03 17:11] ejfrancis commented on #9
Done:

* created AuthHooks class
* grab auth hooks in ProseMeteorServer constructor
* create authentication data structure in Authority constructor
* Authority retrieve and store user auth permissions data
* client collab-editor listen for auth error event
* make auth error event unique to document via event name params
* add auth error handler in demo client/main

[2017-01-05 05:17] ejfrancis commented on #29
I added [a PR](https://github.com/xolvio/chimp/issues/545) to Chimp to allow controlling multiple Meteor servers, so this is ready to be started now

[2017-01-19 01:24] ejfrancis commented on #29
this is waiting on an issue with Meteor (8257) because apparently I've found a case that breaks the meteor build tool

[2017-04-17 08:28] foosly opened #39 "babel-runtime error"
Hello,

I am getting stuck with a runtime error when trying to run the demo.
It happens with meteor 1.3 and meteor 1.4.
I am quite new with meteor and i have no idea where to start debugging this.
Can you help ?

W20170417-10:16:51.270(2)? (STDERR) **Error: Cannot find module '../core-js/object/assign'**
W20170417-10:16:51.271(2)? (STDERR)     at require (packages/modules-runtime.js:123:19)
W20170

[2017-05-02 22:17] funkyeah commented on #22
@ejfrancis SORRY! I totally missed this. At the time the answer probably would have been that I was too busy anyway. I was thinking about this project and reviving it a bit. Enough at least to integrate into my meteor app http://humon.com

I still don't have a ton of free time but will try to put some in. I also have a developer friend I'm going to have help with the integration into Humon, so he

[2017-05-02 22:59] ejfrancis commented on #22
hey @funkyeah

yes I'm still interested in working on the project. a new Meteor release broke the demo application, then I got swamped with other stuff so it's been put on hold for a few months now, but my intent is still to finish it. it's actually in a pretty good spot on the server side (apart from missing tests). the client still needs to be implemented as a real ProseMirror plugin (I'm WAY be

[2017-08-02 05:12] mitar commented on #34
Why do you even have them as Meteor methods then? Just make them normal JavaScript functions which you import where you need them?

[2017-08-02 06:08] mitar opened #40 "Why not use MongoDB itself as an authority?"
From quick reading of the code it seems like you are using Rocket.Chat streamer and make your own way to sync up multiple authorities (when horizontally scaling Meteor) together? Why this design choice? I always thought that it should be easy to integrate it using MongoDB. You just have a collection of documents representing steps, where you have unique index on (document ID, version), and then yo

[2017-11-30 22:20] justinr1234 commented on #27
@ejfrancis Where is a good place to start to see the gap between 0.7 and 1.0?

[2018-08-26 21:25] ejfrancis commented on #40
Hey @mitar

Sorry for the very late response, as you can probably tell my work on this project has stopped as other things have consumed my time and I no longer need this for my application.

The main reason for choosing to have authorities keep all steps in memory instead of in the database is because every single keystroke or text modification is recorded as a step in the ProseMirror internal da

[2018-08-27 10:50] mitar commented on #40
Eh, no need to be sorry. I know how it is, when there is simply not enough time.

I do get what you are saying, but isn't then collaboration logic much harder? ProseMirror requires a serial index for steps to be enforced by the server, and so MongoDB provides that through its unique index (this is how I do it in my implementation). If you do not have that, then you need to get all clients to conne

[2022-02-09 00:54] archonic commented on #1
@funkyeah @ejfrancis Hi guys. I never really jumped into this project - apologies there. Once I needed a robust collaborative editing solution, I reached for CKEditor5 and their enterprise cloud service for collaboration. It works well enough but is super expensive. With [YJS](https://docs.yjs.dev/) out there now, I'm wondering if you guys have any motivation to make a CKEditor5 module for it? My